head
  title= title
  link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css', type='text/css')
  link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
