doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    h1 WTM!!!
    h2 What's The Month?

    button#flip.btn Click here to see today's date.
    #panel #{date.toLocaleDateString('en-us')}

    #globe


    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='javascripts/animate.js')

