doctype html
html(lang="en")
    include ./partials/_head.jade

    body
      //- include ./partials/_nav.jade
      block content

    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='javascripts/animate.js')

