extends ./layout.jade

block content

  h1 Send Photo

  form(method='POST', enctype='multipart/form-data')
    input(type="file", name='image', accept='images/*')
    button.btn.btn-info(type="submit") Share Your Photo!


